*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 2px black;
}

nav a{
    text-decoration: none;
    color: black;    
}

.logo {
    width: 200px;
    height: 100px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;    
}

nav li{
    padding: 20px;
    font-size: 20px;
    transition: 0.2s;
}

nav li:hover{
    font-size: 25px;
}

.main {
    width: 800px;
    height: 100%;
    margin: auto;
}

article {
    width: 100%;
    margin: 40px auto 20px;
    font-size: 18px;
}

article h1{
    margin-bottom: 10px;
    color: darkorange;
}

article p{
    margin-bottom: 10px;
}

.calculadora {
    width: 400px;
}

.form {
    display: flex
}

.form input {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid darkorange;
    margin: 0px 15px 15px 0px;
}

.form input[type=submit] {
    background-color: white;
    transition: 0.2s;
}

.form input[type=submit]:hover {
    background-color: darkorange;
    color: white;
}

.form input:focus {
    border: 3px solid darkorange;
    outline: none;
}

.p02 {
    font-size: 40px;
    background-color: darkorange;
    border-radius: 10px;
    padding-left: 10px;
    width: 290px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

table, td, th{
    border-bottom: 1px solid;
}

th, td{
    padding: 7px;
}

#abaixo, #normal, #acima, #obesidade, #morbida {
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px auto 40px;
    text-align: left;
}

footer {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid darkorange;
    color: black;
}

@media screen and (max-width: 830px){
    .main, .calculadora{
        width: 85vw;        
    }
}

@media screen and (max-width: 600px){
        nav{
            flex-direction: column;
            align-items: center;
        }
        
        .form {
            flex-direction: column;
            width: 85vw;
            margin: auto;
        }
}